<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JsonNet.ContractResolvers" version="1.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Reflection.TypeExtensions" version="4.5.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="UnitsNet" version="4.73.0" targetFramework="net472" />
  <package id="UnitsNet.Serialization.JsonNet" version="4.2.0" targetFramework="net472" />
</packages>