<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.14" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="UnitsNet" version="4.89.0" targetFramework="net461" />
  <package id="UnitsNet.Serialization.JsonNet" version="4.2.0" targetFramework="net461" />
</packages>